html, body, svg {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*svg:not(:root){display:inline-block;}*/

#container {
    display: block;
    position: relative;
}

@media only screen and (orientation: portrait) {

    html{
        /*-webkit-transform: rotate(90deg);*/
        /*-moz-transform: rotate(90deg);*/
        /*-o-transform: rotate(90deg);*/
        /*-ms-transform: rotate(90deg);*/
        transition: left 2s;
        transform-origin: top left;
        transform: translate(100vw, 0) rotate(90deg);
        /*transform: translate(10vw, 0);*/
        height: 100vw;
        width: 100vh;
        /*align-content: center;*/
    }
    #container{
        height: 100vw;
        width: 100vh;
        position: absolute;
        /*top: 50vw;*/
        /*left: 30vh;*/
    }
}

@media only screen and (orientation: landscape) {

    #container {
        width: 100vw;
        height: 100vh;
        /*-webkit-transform: rotate(0deg);*/
        /*-moz-transform: rotate(0deg);*/
        /*-o-transform: rotate(0deg);*/
        /*-ms-transform: rotate(0deg);*/
        transform: rotate(0deg);
    }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 200px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.toast.show, .toast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#start_button{
    visibility: visible;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#start_button.hide{
    visibility: hidden;
    animation: fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 200px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 200px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}